html, body {
  //height: 100%;
  font-family: Arial;
  background-color: #eeeeee;
}
.wrapper {
  max-width: 982px;
  margin: 0 auto;
}

h2 {
  text-align: center;
  margin-top: 50px;
  font-size: 26px;
  color: #164569;
  font-weight: 500;
}




