.flex-container {
  margin-top: 225px;
  h3 {
    text-align: left;
  }

  h4 {
    color: #818181;
    font-size: 20px;
    margin-top: 10px;
  }

  .container-assistant {
    background-image: url("assets/images/background_gradient.png");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 343px;
    margin-top: 50px;
    display: flex;
    position: relative;

    .assistant {
      width: 75%;
      margin-top: 30px;

      h6 {
        font-size: 14px;
        color: #000000;
        font-weight: 700;
      }
    }

    .assistant-image {
      width: 411px;
      height: 555px;
      position: absolute;
      left: 700px;
      top: -215px;
    }
  }
}