.slider {
  margin-top: 50px;
  display: flex;
  justify-content: space-around;

  p{
    margin-top: 15px;
    text-align: center;
    margin-left: -10px;
  }

  .slider-paragraph {
    margin-left: -30px;
  }

}