.stage {

  background-image: url("assets/images/background1.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  .text-wrapper {
    display: flex;
    justify-content: space-around;
    color: white;
    min-height: 400px;

    .text-column {
      width: 33%;
    }

    .text-left {
      align-self: center;
      h1 {
        font-size: 32px;
      }

      h3 {
        font-size: 17px;
      }
    }
    .text-right {
      align-self: flex-end;
      h6 {                          // Не юзать "h" не по назначению!
        font-size: 20px;
      }

      h4 {
        font-size: 16px;
      }

      h5 {
        font-size: 12px;
      }
    }
  }
}